.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/

.App-header {
  background-color: #ea9911;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #016298;
}

.App-link {
  color: #016298;
}
.rhap_container {
  background-color: #ea9911 !important;
  box-shadow: none !important;
}

.rhap_main-controls-button, .rhap_volume-button, .rhap_repeat-button {
  color: #7f4c34 !important;
}

.rhap_time {
  color: #ffffff !important;
}

.rhap_volume-indicator, .rhap_progress-indicator {
  background-color: #ffffff !important;
}

.rhap_progress-filled {
  background-color: #7f4c34 !important;
}