/* Style the navigation menu */
#menu {
    overflow: hidden;
    background-color: #000;
    position: absolute;
    width: 100vw;
    height: 10vh;
}

/* Hide the links inside the navigation menu (except for logo/home) */
#menu .options {
    display: none;
}

/* Style navigation menu links */
#menu a {
    color: #FFF;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

/* Style the hamburger menu */
#menu a.icon {
    background: rgb(16, 64, 109);
    display: block;
    position: absolute;
    left: 0;
    top: 2rem;
}

/* Style the active link (or home/logo) */
.active {
    color: #ffff00;
}

.options {
    display: flex;
}

.options a {
    color: #F00;
    text-decoration: none;
    font: 700 1.7rem Archivo;
    padding: 3.7rem 1.6rem;
    display: flex;
}

.options a:hover {
    color: #ffff00;
}

a.icon {
    display: none;
}